
<!-- <section='beerInfo'> -->

	<div class="beerInfo header">
		<img class='logo' src="/images/4noses.png">

		<h3>Beer Name</h3>
		<div class='info'>
			<p>Overall rating:</p>
			<i class="material-icons rating">grade</i>
			<i class="material-icons rating">grade</i>
			<i class="material-icons rating">grade</i>
			<!-- <a class="btn-floating btn-small avatar btn-flat dark-blue"><i class="material-icons">person</i></a> -->
		</div>
		<div class='meta'>Beer style</div>
		<div class='beerStyle'>Brewery, City</div>
	</div>

		<a href="#" class='rate beer' ng-href="/newReview">Review this Beer</a>
		<h3 class='list'>Reviews (3)</h3>

<!-- 		<div class='card general'>
 -->
			<div class='listView review'>

			<div class='item'>
				<a ng-href="/review">
					<div class="btn-flat btn-floating btn-small avatar waves-effect waves-light dark-blue review"><i class="material-icons">person</i></div> 	
					<div class='name'>John Smith</div>
					<div class='meta'>Beer Name, Brewery</div>
					<i class="material-icons rating">grade</i>
					<i class="material-icons rating">grade</i>
					<i class="material-icons rating">grade</i>
					<i class="material-icons rating">grade</i>
					<span class='rating meta'>Jan 15, 2016</span>
				</a>
			</div>

			<div class='item'>	
				<a class="btn-flat btn-floating btn-small avatar waves-effect waves-light dark-blue review "><i class="material-icons">person</i></a>
				<div class='name'>Anne Strickland</div>
				<div class='meta'>Beer Name, Brewery</div>
				<i class="material-icons rating">grade</i>
				<i class="material-icons rating">grade</i>
				<i class="material-icons rating">grade</i>
				<span class='rating meta'>Jan 15, 2016</span>
			</div>

			<div class='item'>	
				<a class="btn-flat btn-floating btn-small avatar waves-effect waves-light dark-blue review"><i class="material-icons">person</i></a> 
				<div class='name'>Alex Howe</div>
				<div class='meta'>Beer Name, Brewery</div>
				<i class="material-icons rating">grade</i>
				<i class="material-icons rating">grade</i>
				<span class='rating meta'>Jan 5, 2016</span>
			</div>
		<!-- </div> -->

<!-- 	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large bottom hops-green addReview" ng-href="/newReview">
      <i class="large material-icons">add</i>
      </a>
    </div> -->
					
</div>

<!-- </section> -->


