<div class='login form'>

  <h2>Come have a beer with us!</h2>
  <p>Sign in with the same password you use for <a href="http://www.meetup.com/Microbrew-Monday/" target="blank">Meetup.com</a> to create a review, post comments or pictures. Join us on Monday nights at a different microbrew every week in the Boulder, CO area.</p> 

  <form name="login" method="post" action="/auth">

    <div class='card brewery'>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Email address" name="email" type="text" class="validate">
          <label for="email"> </label>
        </div>
      </div>
    <div class="row">
      <div class="input-field col s12">
        <img class="logo" src="/images/meetup.jpg"><input placeholder="Meetup.com password" name="address" type="text" class="validate">
        <label for="address"></label>
      </div>
    </div>
	<p>
	    <input type="cancel" class="btn secondary cancel" value="Later" ng-click="cancel()">
	    <input type="submit" class="btn primary done" value="Sign in">
	  </div>
	</p>
</form>
  
</div>
