<div class='listView breweries'>
  
      <div class='item' data-id={{ _id }}>
        <a ng-href="/brewery">
          <img src="images/avery.png" class="logo">
          <div class='name'>Avery Brewing Co.</div>
          <div class='meta'>Street Address, Boulder</div>
          <i class="material-icons vote">thumb_up</i>
          <span class='vote meta'>3 votes</span>
        </a>
      </div>

      <div class='item' data-id={{ _id }}>  
        <img src="images/4noses.png" class="logo">
        <div class='name'>Avery Brewing Co.</div>
        <div class='meta'>Street Address, Boulder</div>
        <i class="material-icons vote active">thumb_up</i>
        <span class='vote meta'>5 votes</span>
      </div>

      <div class='item' data-id={{ _id }}>  
        <img src="images/liquid.png" class="logo">
        <div class='name'>Avery Brewing Co.</div>
        <div class='meta'>Street Address, Boulder</div>
        <i class="material-icons vote">thumb_up</i>
        <span class='vote meta'>1 vote</span>
      </div>

      <div class='item' data-id={{ _id }}>  
        <img src="images/twisted.png" class="logo">
        <div class='name'>Avery Brewing Co.</div>
        <div class='meta'>Street Address, Boulder</div>
        <i class="material-icons vote">thumb_up</i>
        <span class='vote meta'>0 votes</span>
      </div>

      <div class='item' data-id={{ _id }}>  
        <img src="images/12degree.png" class="logo">
        <div class='name'>Avery Brewing Co.</div>
        <div class='meta'>Street Address, Boulder</div>
        <i class="material-icons vote">thumb_up</i>
        <span class='vote meta'>1 vote</span>
      </div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large bottom hops-green addBrewery" ng-href="/newBrewery">
  <i class="large material-icons">add</i>
  </a>
</div>
