		<div class="beerInfo header review">
			<img class='logo' src="/images/4noses.png">

			<h3>Beer Name</h3>
			<div class='info'>
				<a class="btn-floating btn-small avatar btn-flat dark-blue"><i class="material-icons">person</i></a>
				<div class="rating">
					<i class="material-icons rating">grade</i>
					<i class="material-icons rating">grade</i>
					<i class="material-icons rating">grade</i>
				</div>
			</div>
			<div class='meta'>Beer style</div>
			<div class='beerStyle'>Brewery, City</div>
		</div>

		<div class='card appearance'>
		<h3>Appearance &amp; Aroma</h3>

		<div class="group">

			<form action="#" class="color">
				<div class="form-label">COLOR</div>
				<div class='colorSelector'></div>
			    <p class="range-field">
			      <input type="range" id="color" min="0" max="100"  value='30'/>
			    </p>
			    <span class="form-label secondary">STRAW</span>
				<span class="form-label secondary">GOLD</span>
				<span class="form-label secondary">AMBER</span>
				<span class="form-label secondary">COPPER</span>
				<span class="form-label secondary">DARK BROWN</span>
				<span class="form-label secondary color last">BLACK</span>
			</form>
		
		</div>
		
		<div class="group">
			<div class="form-label">MALT AROMA</div>
			<span class="label label-default">Grain</span>
			<span class="label label-active">Bread</span>
			<span class="label label-default">Sweet</span>
			<span class="label label-default">Toast</span>
			<span class="label label-default">Nut</span>
			<span class="label label-default">Caramel</span>
			<span class="label label-default">Toffee</span>
			<span class="label label-default">Coffee</span>
			<span class="label label-default">Chocolate</span>
		</div>
		
		<div class="group">
		<div class="form-label">HOPS AROMA</div>
			<span class="label label-default">Earth</span>
			<span class="label label-default">Floral</span>
			<span class="label label-active">Herbal</span>
			<span class="label label-default">Spice</span>
			<span class="label label-default">Resin</span>
			<span class="label label-default">Citrus</span>
		</div>

	</div>

	<div class='card taste'>
		<h3>Taste</h3>
		<div class="group">
			<form action="#">
				<div class="form-label">INTENSITY</div>
			    <p class="range-field">
			      <input type="range" id="intensity" min="0" max="100" value='70'/>
			    </p>
				<span class="form-label secondary taste">FAINT</span>
				<span class="form-label secondary last taste">STRONG</span>
			</form>
		</div>

		<div class="group">
			<form action="#">
				<div class="form-label">BALANCE</div>
				
				    <p class="range-field">
				      <input type="range" id="balance" min="0" max="100" value='40'/>
				    </p>
				  
				<span class="form-label secondary taste">SWEET</span>
				<span class="form-label secondary last taste">BITTER</span>
			</form>
		</div>

	</div>

	<div class='card notes'>
		<h3>Notes</h3>

		<div class="row">
		    <form class="col s12">
		      <div class="row">
		        <div class="input-field col s12">
		          <textarea readonly="readonly" value="I love this beer!!" name="notes" class="notes materialize-textarea">I love this beer!</textarea>
		          <label for="notes"></label>
		        </div>
		      </div>
		    </form>
		  </div>

		  	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large bottom hops-green addReview" ng-href="/newReview">
      <i class="large material-icons">add</i>
      </a>
    </div>

	</div>	
