<div class='listView beerList'>
 
      <div class='item' data-id={{ _id }}>
        <a ng-href="/beer">
            <img src="images/avery.png" class="logo">
            <div class='name'>Beer Name</div>
            <div class='meta'>Brewery, Style</div>
            <i class="material-icons rating">grade</i>
            <i class="material-icons rating">grade</i>
            <i class="material-icons rating">grade</i>
            <i class="material-icons rating">grade</i>
            <i class="material-icons rating">grade</i>
            <span class='rating meta'>3 reviews</span>
        </a>
      </div>
 
     <div class='item' data-id={{ _id }}> 
        <img src="images/avery.png" class="logo">
        <div class='name'>Beer Name</div>
        <div class='meta'>Brewery, Style</div>
        <i class="material-icons rating">grade</i>
        <i class="material-icons rating">grade</i>
        <i class="material-icons rating">grade</i>
        <i class="material-icons rating">grade</i>
        <i class="material-icons rating">grade</i>
        <span class='rating meta'>3 reviews</span>
      </div>
     
     
    <div class='item' data-id={{ _id }}>  
        <img src="images/avery.png" class="logo">
        <div class='name'>Beer Name</div>
        <div class='meta'>Brewery, Style</div>
        <i class="material-icons rating">grade</i>
        <i class="material-icons rating">grade</i>
        <i class="material-icons rating">grade</i>
        <i class="material-icons rating">grade</i>
        <i class="material-icons rating">grade</i>
        <span class='rating meta'>3 reviews</span>
      </div>

     <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large bottom hops-green addReview" ng-href="/newReview">
      <i class="large material-icons">add</i>
      </a>
    </div>

</div>